body{font-family: "Arial";}
.order_form {background: #eee;border: #ddd 1px solid;padding: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin: 0px 15px;min-width: 310px;}
.block_form {margin: 11px 0px;}
.block_form label{width:150px;font-size:13px;color:#333;text-align:right;display: block;float: left;margin: 8px 20px 0 0;}
.block_form input{display:block;width:400px;padding:8px 10px;border:#888 1px solid;font-size:16px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background: #fff;}
.block_form select  {width:200px;border:#888 1px solid;font-size:16px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.block_form #address{width: 90%;}
.block_form p{font-size: 13px;padding-top: 8px;color: #1D1D1D;}
.form_hr{border-top: #bbb 1px solid;border-bottom: #fff 1px solid; width: 85%; margin:0px auto;}
.block_form div{margin-left: 170px}
.block_form_prices{margin: 10px 0px!important}
.block_form_prices_total{}
.block_form_prices_total label{text-transform: uppercase;}
.block_form_prices_total p{font-size: 18px;padding-top: 6px;margin-bottom: 25px;}
.order_form .clear{clear: both;}
.order_form .fhelp  {font-size:12px;color:#999;display:block;padding-top: 10px;text-shadow: #fff 1px 1px;}
.order_form .errorMedium {background: #fff;color:#f00;padding:3px 8px;margin:3px 0px 0px 3px;text-shadow:#fff 1px 1px;border:#f00 1px solid;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.mm_button{display: block;margin: 20px auto;color: #fff;font: normal 32px Calibri, arial, sans-serif;text-decoration: none;text-align: center;width: 402px;height: 64px;line-height: 64px;background: url(/img/btn.png);}    
.mm_button:hover{color: #fff; text-decoration: none;}
.mm_button2{display: none!important; overflow:hidden;padding:12px;width:194px;height:63px;display: block;background:url(/img/bg-button.png) no-repeat;margin: 0px auto;text-align: center;line-height: 63px;}
@media screen and (max-width:710px) { 
    .block_form label{text-align: left;margin: 8px 21px 7px 0;float: none;}
    .block_form div {margin-left: 0px;}
    .block_form input {width: 90%;}
    .form_hr {width: 100%;}
    .block_form_prices label{float: left;width: auto}
    .int_price_total{margin: 0px;}
    .mm_button2{display: block!important;}
    .mm_button{display: none;}
    .order_form{padding: 10px 20px;}
}

.reolader {
    text-align: center;
}

.ajax_loader {
    display: none;
}

.ajax_loader_block { margin: 4px; }